.unlocked-indicator {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  color: var(--pb-unlocked-indicator-color);      /* Line + text color */
  font-family: inherit;
  font-weight: 800;                /* Strong text */
  font-size: 1rem;
}

.unlocked-indicator::before,
.unlocked-indicator::after {
  content: "";
  flex: 1;
  height: 1px;
  background: currentColor;                  /* Uses the same color as the text */
}

.unlocked-indicator span {
  padding: 0 1rem;                           /* Space between text and lines */
}

/* Show Unlock Count on Front-end */
.pb-frontend-unlock-count {
  color: var(--pb-frontend-unlock-color, #0074C2);
  margin-bottom: 1em;
  text-align: center;
  font-family: inherit;
  font-size: 1.2em;
  font-style: italic;
}