.unlocked-indicator {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  color: var(--pb-unlocked-indicator-color);      /* Line + text color */
  font-family: inherit;
  font-size: 1rem;
  text-align:center;
}

/* Mobile override rule */
@media (max-width: 600px) {
  .unlocked-indicator {
    font-size: 9px;
  }
}

.unlocked-indicator::before,
.unlocked-indicator::after {
  content: "";
  flex: 1 1 auto;
  min-width: 20px;
  height: 1px;
  background: currentColor;                  /* Uses the same color as the text */
}

.unlocked-indicator span {
  display: inline-block;
  padding: 0 1rem;                           /* Space between text and lines */
  word-break: break-word; 
}

/* Show Unlock Count on the Front-end */
.pb-frontend-unlock-count {
  color: var(--pb-frontend-unlock-color, #0074C2);
  margin-bottom: 1em;
  text-align: center;
  font-family: inherit;
  font-size: 1.2em;
  font-style: italic;
}

/* Verification Overlay Styles */

.paybutton_overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(34, 34, 34, 0.8);
    text-align: center;
    z-index: 999999;
}

.paybutton_overlay_inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999999;
}

.paybutton_overlay_content {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.paybutton_overlay_spinner {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-width: 4px;
    border-color: rgba(255, 255, 255, 0.05);
    border-top-color: #0074C2;
    animation: paybutton_spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
}

@keyframes paybutton_spin {
  100% { transform: rotate(360deg); }
}

#paybutton_overlay_text {
  padding-top: 7px;
  color: white;
  font-weight: bold;
}